@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gray-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 antialiased;
}

#root {
  @apply min-h-screen;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-200 dark:bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400/70 rounded-full dark:bg-slate-600;
}
